*{
    margin:0; padding: 0;
}
header{
    background-color: #ccc;
    height: 180px;
    padding: 60px 30px;
}
.banner{
    width: 900px;
    height: 120px;
    background-color: red;
    margin: 25px auto;
}
.menu{font-size: 20px; text-align: center;}
.menu ul{list-style: none;}
.menu ul li{display: inline;}
.menu ul li a{
    color: white; text-decoration: none; padding: 10px 4px;
    background-color: darkslategrey;
}
.container{margin: 0 auto; width: 900px; height: auto;}
.empresa{
    background-image: url("../imagens/banner-empresa.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    padding: 80px 40px 60px 40px;
}
.conteudo-empresa{
    max-width: 1024px; border-radius: 10px;
    padding: 20px 15px; margin: 2px auto;
    background: #ffffffd0;
}
.conteudo-empresa p{font-size: 25px;}
.titulo-empresa{color: #3c184e; font-size: 60px; text-align: center; 
    font-weight: 800;
    margin: 0 0 40px;
}
.btn-ancora{
    cursor: pointer;
}
.btn-ancora img{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.rodape{
    text-align: center;
}